.container {
    padding-top: 50px;
}

.field-list .field {
    margin-bottom: 0;
    line-height: 1.5em;
    border: 1px dashed #fff;
    cursor: move;
    position: relative;
}

.field-list .seperator {
    border-bottom: 1px solid;
}

.field-list.preview .field:hover {
    background: #fafafa;
    border-color: #aaa;
}

.field-list.preview {
    overflow-y: scroll;
    max-height: 720px;
}
