.container {
    padding-top: 50px;
}

.field-list .field {
    margin-bottom: 0;
    padding: 13px;
    line-height: 1.5em;
    border: 1px dashed #fff;
    cursor: move;
    position: relative;
}

.field-list .seperator {
    border-bottom: 1px solid;
}

.field-list.preview .field:hover {
    background: #fafafa;
    border-color: #aaa;
}

.sub-form .field {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.sub-form .autoform-array-item {
    float: left;
}

.sub-form .autoform-array-item label {
    display: none;
}

.sub-form .autoform-remove-item {
    margin-top: 5px;
}
