.container {
    padding-top: 50px;
}

.field-list .field {
    margin-bottom: 0;
    padding: 13px;
    line-height: 1.5em;
    border: 1px dashed #fff;
    cursor: move;
    position: relative;
}

.field-list .seperator {
    border-bottom: 1px solid;
}

.field-list.preview .field:hover {
    background: #fafafa;
    border-color: #aaa;
}

#submitForm label {
    font-weight: normal;
}

#submitForm input, #submitForm select {
    width: 100%;
}

.sub-form {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F9F9F9;
    padding: 20px;
}

.sub-form .title {
    margin-bottom: 20px;
    font-weight: bold;
}

.sub-form .autoform-array-item {
    display: table-row;
}

.sub-form .autoform-array-item label {
    display: none;
}

.sub-form .autoform-array-item .field {
    display: table-cell;
    padding-right: 10px;
}

.sub-form .autoform-array-item .field .control {
    display: table-cell;
    padding-right: 10px;
    float: none;
    width: inherit;
}

.sub-form .autoform-array-item .field label {
    float: none;
    width: inherit;
}

.field-autoform-remove-item {
    display: table-cell;
    vertical-align: bottom;
}

.autoform-remove-item {
    margin-bottom: 12px;
}

.submit-form-container {
    width: 80%;
    margin: 0 auto;
}

.submit-form-container .seperator {
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

.submit-form-container .field label {
    width: 60%;
    float: left;
}

.submit-form-container .field .control {
    width: 40%;
    float: left;
}

.field .af-radio-group label, .af-check-group label {
    width: inherit;
}
