.bold {
  font-weight: bold;
}
.container{
  padding-top: 5px !important;
}
.text-underline {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.border-thick {
  border-style: solid;
}
.btn-primary{
  background-color: #339933;
}
.title{
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}
.font-16 {
  font-size: 16px;
}
.monnisgroup-container{
  margin-top: 20px !important; 
}
.no-print{
  border: none;
  border-radius: 0;
  font-size: 12px;
}
table.monnistabledetail{
  font-size: 14px;
}
table.monnistabledetail1{
  border: 1px solid #969696;
}
table.monnistabledetail tbody tr{
  position: relative;
}
table.monnistabledetail tbody tr td{
  position: relative;
  font-size: 14px;
  display: table-cell;
  border: 1px solid #969696;
  padding-top: 20px;
}
.panel > table.monnistabledetail > tbody:first-child > tr:first-child th, 
.panel > table.monnistabledetail > tbody:first-child > tr:first-child td{
  border-top: 1px solid #969696 !important;
}
table.monnistabledetail tbody tr td span{
  position: absolute;
  color: #007b00;
  font-size: 12px;
  top: 0px;
}
table.monnistable thead{
  background-color: #339933;
  color: #fff;
}
table.monnistable > thead > tr > th, 
table.monnistable > tbody > tr > th, 
table.monnistable > tfoot > tr > th, 
table.monnistable > thead > tr > td, 
table.monnistable > tbody > tr > td, 
table.monnistable > tfoot > tr > td{
  padding: 12px 5px;
}
.monnisgroup-navbar {
  background-color: transparent;
  border: none;
}

#monnisgroupContainer {
  padding: 0px 15px;
}

#monnisgroupContainer #navbar > ul > li {
  border: none;
  border-radius: 0px;
  color: #fff;
  margin: 10px 5px;

}
#monnisgroupContainer #navbar > ul > li:last-child {
  margin-right: 0;
}
#monnisgroupContainer #navbar > ul > li > a {
  padding: 5px;
  color: #fff;
  border: none;
  background-color: rgba(51, 153, 51, 0.6);
  border-radius: 0;
  font-size: 12px;
  line-height: inherit;
}
#monnisgroupContainer #navbar > ul > li:hover > a {
  background-color: #339933;
}
#monnisgroupContainer #navbar > ul > li > button.print {
  background-color: rgba(208, 0, 0, 0.6);
  padding: 5px;
  color: #fff;
  border: none;
  font-size: 12px;
}
#monnisgroupContainer #navbar > ul > li:hover > button.print {
  background-color: #d00000;
}
.monnisgroup-panel {
  margin-top: 30px;
  /*border-width: 1px;
  border-color: #267b2c;*/
  border: none;
}

.monnisgroup-panel-emergency {
  width: 50%;
}

.monnisgroup-panel-title {
  height: 30px;
  margin: 0;
  font-size: 14px;
}

.monnisgroup-menu-padding {
  padding-top: 20px;
}

.panel-body {
  border-bottom: none;
  box-shadow: none;
  padding: 0px !important;
  margin: 0px 0px;
}

.monnisgroup-panel-header {
  font-size: 16px;
  background-color: #fff;
  box-shadow: none;
  margin-bottom: 0px;
}

.monnisgroup-thumbnail {
  display: inline-block;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

img.monnisgroup-thumbnail:hover,
img.monnisgroup-thumbnail:focus,
img.monnisgroup-thumbnail.active {
  border-color: #337ab7;
}
#page-content-wrapper{
  padding: 0 !important;
}
table.heregtsee{
  font-size: 10px;
  float: right;
}
table.heregtsee td{
  border: 1px solid black; 
  height:30px; 
  padding:10px;
  width: 100px;
}
.anket_title{
  color: #393;
  font-size: 18px;
  float: left;
}
.monnis_logo{
  width: 140px;
}
@media only screen and (max-width: 920px) {
  .monnisgroup-panel{
    margin-top: 20px;
  }
  .monnisgroup-panel-title{
    font-size: 14px;
  }
}
@page { size: auto;  margin: 0mm 10mm; }
@media print
{    
  .no-print, .no-print *{
        display: none !important;
  }
  .monnistabledetail span {
    color: #339933 !important;
  }
  #Header, #Footer { display: none !important; }
}
