.bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.border-thick {
  border-style: solid;
}

.font-16 {
  font-size: 16px;
}

.bbtvmongolia-navbar.navbar-default {
  background-color: #fff;
  border-bottom: none;
  padding-top: 10px;
}
.bbtvmongolia-navbar.navbar-default .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}
#bbtvmongoliaContainer {
  padding: 0px 15px;
}
.title{
  text-transform: uppercase;
}
.exit_btn{
  border-radius: 0;
}
#navbar > ul > li {
  border: 1px solid #01579B;
  border-radius: 2px;
  color: #01579B;
  background-color: #fff;
}

.bbtvmongolia-panel {
  margin-top: 40px;
  border-width: 1px;
  border-color: #959595;
  border-radius: 0;
}

.bbtvmongolia-panel-emergency {
  width: 50%;
}

.bbtvmongolia-panel-title {
  color: #fff;
  height: 40px;
  padding: 10px 10px;
  background-color: #959595;
}

.bbtvmongolia-menu-padding {
  padding-top: 20px;
}

.panel-body {
  border-bottom: none;
  box-shadow: none;
  padding: 10px 10px;
  margin: 0px 0px;
}

.bbtvmongolia-panel-header {
  font-size: 16px;
  background-color: #fff;
  box-shadow: none;
  margin-bottom: 0px;
}

.bbtvmongolia-thumbnail {
  display: inline-block;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

img.bbtvmongolia-thumbnail:hover,
img.bbtvmongolia-thumbnail:focus,
img.bbtvmongolia-thumbnail.active {
  border-color: #337ab7;
}
