.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.border-thick {
  border-style: solid;
}

.font-16 {
  font-size: 16px;
}

.font-helvetica {
  font-family: "Helvetica Neue";
}

.muis-navbar {
  background-color: #fff;
  border-color: #02336f;
}

#muisContainer {
  padding: 0px 15px;
}

.muis-panel {
  margin-top: 40px;
  border-width: 1px;
  border-color: #02336f;
}

.muis-panel-emergency {
  width: 50%;
}

.muis-panel-title {
  color: #fff;
  height: 40px;
  padding: 10px 10px;
  background-color: #02336f;
}

.muis-menu-padding {
  padding-top: 20px;
}

.panel-body {
  border-bottom: none;
  box-shadow: none;
  padding: 10px 10px;
  margin: 0px 0px;
}

.muis-panel-header {
  font-size: 16px;
  background-color: #fff;
  box-shadow: none;
  margin-bottom: 0px;
}

.muis-thumbnail {
  display: inline-block;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

img.muis-thumbnail:hover,
img.muis-thumbnail:focus,
img.muis-thumbnail.active {
  border-color: #337ab7;
}

